body{
  background-color:  #21222A;
  font-family: 'Montserrat', sans-serif;
}




header>nav{

      display: flex;
      align-items: center;
      background-color: #21222A;
      height: 110px;
      padding: 30px 25px;

}

.logo{
  width: 185px;
padding-left: 40px;
padding-top: 17px;
}


nav>ul{
  margin: 0 650px;
  list-style: none;
  display: flex;
}

nav > ul > li:nth-child(1),
nav > ul > li:nth-child(2),
nav > ul > li:nth-child(3){
  padding-right: 44px;
  font-size: 28px;
  color: white;
}

nav > ul > li:nth-child(1) > a,
nav > ul > li:nth-child(2) > a,
nav > ul > li:nth-child(3) > a{
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: white;
}


nav > ul > li:nth-child(1) > a:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;


}

nav > ul > li:nth-child(1) > a:hover:after
{
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav > ul > li:nth-child(2) > a:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;


}

nav > ul > li:nth-child(2) > a:hover:after
{
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav > ul > li:nth-child(3) > a:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;


}

nav > ul > li:nth-child(3) > a:hover:after
{
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  padding-top: 20px;

}

/* Hide the images by default */
.mySlides {
  display: none;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dots{
  padding-bottom: 15px;
}

/* The dots/bullets/indicators */
.dot {

  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.About{
  background-color: white;
  width: 60%;
  text-align: center;
  margin: auto;
  padding-top: 22px;
  color: black;
  padding-bottom: 40px;
  border-radius:5px;
}

.Smalllogo{
  height: 192px;
  margin-bottom: -33px;
}

.WhoWeAre{
  font-size: 35px;
  color: #0087ca;
  text-decoration: underline;
  text-decoration-color:  #0087ca;
}

.Subtitle{
  font-size: 18px;
  font-weight:700 ;
  color: #32a856;
}

.Dash{
    color: #0087ca;
    font-size: 18px;
    font-weight:700 ;

}

.Paragraph{
    font-size: 18px;
    font-weight:700 ;
    width: 50%;
    margin: auto;
    line-height: 23px;
}

.Book{
  font-size: 18px;
  font-weight:700 ;
  text-decoration: none;
  color: white;
border-style:solid;
border-radius: 5px;
border-color: #0087ca;
background-color: #0087ca;

}
